.color-title {
  color: #fff;
  margin-top: 100px !important;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font: normal normal 600 40px "Dancing Script", cursive, "Times New Roman",
    Times, sans-serif;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.1);
  }
}
