@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,500;8..144,600;8..144,800;8..144,900;8..144,1000&display=swap');

* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'body';
@import 'header';
@import 'title'; 
@import 'colors'; 
@import 'footer'; 